In [1]:
import numpy as np
import pandas as pd

In [5]:
credits = pd.read_csv('../credits.csv')

In [6]:
movie = pd.read_csv('../movies_metadata.csv')

C:\Users\hp\AppData\Local\Temp\ipykernel_4216\2121734989.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie = pd.read_csv('../movies_metadata.csv')

In [7]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

movie.head()

In [8]:
movie.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [9]:
print("credits: ", credits.shape)
print("Movie DF: ", movie.shape)

credits:  (45476, 3)
Movie DF:  (45466, 24)

In [36]:
#credit_rename = credits.rename(index=str, columns={'ID':'id'})
#merged_df = pd.merge(df1, df2, on='id', how='inner')
credits['id'] = credits['id'].astype(str)
movie['id'] = movie['id'].astype(str)
movie_marge = pd.merge(credits, movie, on='id')
movie_marge.head()

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [38]:
movie_marge1 = movie_marge.head(50)
movie_marge1_r = movie_marge1.reset_index(drop=True)

In [39]:
movie_marge1_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cast                   50 non-null     object
 1   crew                   50 non-null     object
 2   id                     50 non-null     object
 3   adult                  50 non-null     object
 4   belongs_to_collection  10 non-null     object
 5   budget                 50 non-null     object
 6   genres                 50 non-null     object
 7   homepage               5 non-null      object
 8   imdb_id                50 non-null     object
 9   original_language      50 non-null     object
 10  original_title         50 non-null     object
 11  overview               49 non-null     object
 12  popularity             50 non-null     object
 13  poster_path            50 non-null     object
 14  production_companies   50 non-null     object
 15  production_countries   50 non-null     object
 16  release_date           50 non-null     object
 17  revenue                50 non-null     float64
 18  runtime                50 non-null     float64
 19  spoken_languages       50 non-null     object
 20  status                 50 non-null     object
 21  tagline                41 non-null     object
 22  title                  50 non-null     object
 23  video                  50 non-null     object
 24  vote_average           50 non-null     float64
 25  vote_count             50 non-null     float64
dtypes: float64(4), object(22)
memory usage: 10.3+ KB

In [40]:
movie_marge1_r.head(1)['overview']

0    Led by Woody, Andy's toys live happily in his ...
Name: overview, dtype: object

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(min_df=3, max_features=None, strip_accents='unicode', analyzer='word', token_pattern=r'\w{1,}', ngram_range=(1,3), stop_words='english')
    
movie_marge1_r['overview']=movie_marge1_r['overview'].fillna('')

In [42]:
tf_matrix = tf.fit_transform(movie_marge1_r['overview'])

In [43]:
tf_matrix

<50x49 sparse matrix of type '<class 'numpy.float64'>'
	with 193 stored elements in Compressed Sparse Row format>

In [44]:
tf_matrix.shape

(50, 49)

In [45]:
from scipy.sparse import csr_matrix

# Assuming tf_matrix is a dense matrix
sparse_tf_matrix = csr_matrix(tf_matrix)

In [46]:
from sklearn.metrics.pairwise import sigmoid_kernel
sig = sigmoid_kernel(tf_matrix, tf_matrix)

In [47]:
sig[0]

array([0.77003273, 0.764181  , 0.76330508, 0.76159416, 0.76545353,
       0.76159416, 0.76159416, 0.76159416, 0.76219155, 0.76159416,
       0.76598086, 0.76353923, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76920435, 0.76321425, 0.76159416,
       0.7642195 , 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.7633808 , 0.76159416, 0.76327054,
       0.76159416, 0.7634628 , 0.76159416, 0.76440581, 0.76432923,
       0.76159416, 0.76225095, 0.76732135, 0.7629297 , 0.76159416,
       0.76732135, 0.76159416, 0.76271868, 0.76159416, 0.76159416,
       0.76320534, 0.76262034, 0.76398123, 0.76159416, 0.76414169])

In [48]:
indics = pd.Series(movie_marge1_r.index, index=movie_marge1_r['title']).drop_duplicates()

In [51]:
indics

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
Heat                               5
Sabrina                            6
Tom and Huck                       7
Sudden Death                       8
GoldenEye                          9
The American President            10
Dracula: Dead and Loving It       11
Balto                             12
Nixon                             13
Cutthroat Island                  14
Casino                            15
Sense and Sensibility             16
Four Rooms                        17
Ace Ventura: When Nature Calls    18
Money Train                       19
Get Shorty                        20
Copycat                           21
Assassins                         22
Powder                            23
Leaving Las Vegas                 24
Othello                           25
Now and Then                      26
Persuasion                        27
The City of Lost Children         28
Shanghai Triad                    29
Dangerous Minds                   30
Twelve Monkeys                    31
Wings of Courage                  32
Babe                              33
Carrington                        34
Dead Man Walking                  35
Across the Sea of Time            36
It Takes Two                      37
Clueless                          38
Cry, the Beloved Country          39
Richard III                       40
Dead Presidents                   41
Restoration                       42
Mortal Kombat                     43
To Die For                        44
How To Make An American Quilt     45
Se7en                             46
Pocahontas                        47
When Night Is Falling             48
The Usual Suspects                49
dtype: int64